
.userdetails {
    text-align: center;
    margin-top: 20px;
    border: 2px solid rgb(122, 153, 179);
    border-radius: 20px;
    padding: 20px;
  }
  
  .userdetails img {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .userdetails label {
    display: block;
    margin-bottom: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  